@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

.container {
    background: linear-gradient(-45deg, #ee7752, #e73c7e,#863b87, #ecf2f4);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr;
    display: grid;
    grid-template-areas: 
    "nav nav nav nav nav nav nav"
    ". . . . . slogan slogan"
    ". logopic logo logo . . ."
    " . . . . . login ."
    " . . . . signup . ."
    ". . . . . . ."
    ;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.navigation {
    grid-area: nav;
}
.logotype {
    grid-area: logo;
    background-color: #4c175a;
    color: white;
    box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-family: 'Montserrat';
    padding:12px 0 0 0;
    font-weight: 600;
    font-size: 100px;
}
.logopic {
    grid-area: logopic;
    background-color: aquamarine;
    box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.25);
}
.slogan {
    grid-area: slogan;
    background-color: #4c175a;
    color: white;
    padding: 15px 0 0 10px ;
    font-family: 'Roboto';
    font-size: 40px;
    box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.25);
}

.loginflow, .signupflow {
    grid-area: login;
    background-color: #9a52a3;
    color: white;
    text-align: center;
    font-family: 'Roboto';
    box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.25);
    transition: transform .5s;
    padding-top: 30px;

}
.loginflow:hover, .signupflow:hover {
    transform: scale(1.25); 

}
.signupflow {
    grid-area: signup;
  
}

.primertext_su {
    
}