@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

.container {
    background: linear-gradient(-45deg, #fce38a, #eaffd0,#95e1d3);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr;
    display: grid;
    grid-template-areas: 
    "nav nav nav nav nav nav nav"
    "logopic logo logo logo . slogan slogan"
    "logopic logo logo logo . . ."
    " . . . . . login ."
    " . . . . signup . ."
    ". . . . . . ."
    ;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.navigation {
    grid-area: nav;
}
.logotype {
    grid-area: logo;
    background-color: #222831;
    color: #f9f7f7;
    box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-family: 'Montserrat';
    padding:20px 0 0 0;
    font-weight: 600;
    font-size: 250px;
}
.logopic {
    grid-area: logopic;
    background-color: #f38181;
    box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.25);
}
.slogan {
    grid-area: slogan;
    text-align: center;
    background-color: #393e46;
    color: #f9f7f7;
    padding: 30px 0 0 10px ;
    font-family: 'Roboto';
    font-size: 45px;
    box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.25);
}

.loginflow, .signupflow {
    grid-area: login;
    background-color: #f38181;
    color: #f9f7f7;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 50px;
    box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.25);
    transition: transform .5s;
    padding-top: 55px;
    outline: none;

}
.loginflow:hover, .signupflow:hover {
    transform: scale(1.25); 

}
.signupflow {
    grid-area: signup;
  
}

.headertext_su, .headertext_li  {
    text-decoration: none;
    color: #f9f7f7;

}

