/* colors: 222831(black), 393e46(charcoal), f38181(red), fce38a(yellow), f9f7f7(white) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');


.loginCont {
    background-image: url(./image.jpg), linear-gradient(rgb(119, 201, 212, 0.5),rgba(119, 201, 212, 0.5));
    background-size: 100% 100%;
    background-blend-mode: overlay;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    display: grid;
    grid-template-areas:
    ". . . . ."
    ". form greet greet ."
    ". form greet greet ."
    ". . . . ."
    ;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#loginHeader {
    font-size: 45px;
    color: white;
    font-family:'Poppins';
}

.loginGreeting {
    grid-area: greet;
    background-color: #393e46;
    box-shadow:  0 1rem 1rem rgba(0, 0, 0, 0.25);
    border-radius: 0px 10px 10px 0px;

    
}

#welcomeHeader {
    color: #FFFF;
    text-align: left;
    font-size: 100px;
    padding: 0 0 0 20px;
}

.logincontainer {
    grid-area: form;
    box-shadow: -1rem 1rem 1rem rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, .40);
    backdrop-filter: blur(5px);
    border-radius: 10px 0 0 10px;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.loginBack {
    text-decoration: none;
    color: #f38181 ;
}

#uNameField, #pWordField {
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    background: none;
    margin: 40px;
    padding-bottom: 10px;
    padding-top: 20px;
    transition-duration: 0.4s;
    font-family: 'Poppins';
    font-weight: 300;
}

#uNameField::placeholder, #pWordField::placeholder {
    font-size: 15px;
    color: rgba(53, 53, 53);
    text-align: left;
    transition: 5s;
}

#uNameField:focus, #pWordField:focus {
    border-color: tomato;
}



