/* colors: 222831(black), 393e46(charcoal), f38181(red), fce38a(yellow), f9f7f7(white) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
/*https://coolors.co/f0a202-f18805-d95d39-0e1428-7b9e89*/
/*{"Marigold":"f0a202","Tangerine":"f18805","Flame":"d95d39","Oxford Blue":"0e1428","Morning Blue":"7b9e89"} */


.loginCont {
    background-image: url(./image.jpg), linear-gradient(rgba(128, 223, 166, 0.8),rgba(128, 223, 166, 0.8));
    background-size: 100% 100%;
    background-blend-mode: overlay;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    display: grid;
    grid-template-areas:
    ". . . . ."
    ". form greet greet ."
    ". form greet greet ."
    ". . . . ."
    ;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#loginHeader {
    font-size: 45px;
    color: white;
    font-family:'Poppins';
    text-shadow: -1rem 1rem 1rem rgba(0, 0, 0, 0.40); 
}

.loginGreeting {
    grid-area: greet;
    background-color: black;
    box-shadow:  0 1rem 1rem rgba(0, 0, 0, 0.25);
    border-radius: 0px 10px 10px 0px;

    
}

#welcomeHeader {
    color: white;    
    text-align: left;
    font-size: 100px;
    padding: 0 0 0 20px;
}
#colorText {
    color: #f0a202;
}

.logincontainer {
    grid-area: form;
    box-shadow: -1rem 1rem 1rem rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, .40);
    backdrop-filter: blur(8px);
    border-radius: 10px 0 0 10px;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.loginBack {
    text-decoration: none;
    color: #f38181 ;
}

#uNameField, #pWordField {
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    background: none;
    margin: 40px;
    padding-bottom: 5px;
    padding-top: 15px;
    transition-duration: 0.4s;
    font-family: 'Poppins';
    font-weight: 300;
    margin-bottom: 45px;
    width: 250px;
}

#uNameField::placeholder, #pWordField::placeholder {
    font-size: 15px;
    color: rgba(53, 53, 53);
    text-align: left;
    transition: 5s;
}

#uNameField:focus, #pWordField:focus {
    border-color: #f0a202;
}

#submitLogin {
    padding: 10px 40px 10px 40px;
    border: none;
    transition-duration: 0.4s;
    border-radius: 10px;
    font-family: 'Poppins';
    font-size: 20px;
    margin-bottom: 15px;
}

#submitLogin:hover {
    background-color: #f0a202;
    color: black;
    
}

#noReg {
    text-decoration: none;
    color: black;
    transition-duration: 0.4s;

}

#noReg:hover {
    color: #f0a202;
}
