@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

.regCont {
    background-color: #242c37;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23f6f5f7' fill-opacity='0.33'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: 75% 75%;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    display: grid;
    grid-template-areas:
    ". . . . ."
    ". form greet greet ."
    ". form greet greet ."
    ". . . . ."
    ;
}
    
#signupHeader {
    font-size: 3.750vw;
    color: white;
    font-family:'Inter';
    font-weight: 900;
    text-align: center;
    margin-top: 8%;
}

.regGreeting {
    grid-area: greet;
    background-color: #151A21;
    box-shadow:  0 1rem 1rem rgba(0, 0, 0, 0.25);
    border-radius: 0px 10px 10px 0px;

}

.regcontainer {
    grid-area: form;
    box-shadow: -1rem 1rem 1rem rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, .40);
    backdrop-filter: blur(8px);
    border-radius: 10px 0 0 10px;
}

#uName, #eMail, #pWord, #fullName{
   
    outline: none;
    border: none;
    background:#242c37;
    border-radius: 10px;
    padding-bottom: 5px;
    padding-top: 10px;
    transition-duration: 0.4s;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 15px;
    margin: 0 1% 5% 0 ;
    width: 13.5vw;
    height: 2.5vw;
    color: #B2BDCD;
    text-indent: 10px;
}

#uName::placeholder, #pWord::placeholder, #eMail::placeholder, #fullName::placeholder {
    font-size: 15px;
    color: #B2BDCD;
    text-align: left;
    transition: 5s;
    text-indent: 10px;
    font-family: 'Inter';


}

#uName:focus, #pWord:focus, #eMail:focus, #fullName:focus {
    border-color: #3EB489;
}

#submitReg {
    padding: .6vw 2vw .6vw 2vw;
    border: none;
    transition-duration: 0.4s;
    border-radius: 10px;
    font-family: 'Inter';
    font-size: 20px;
    margin-bottom: 15px;
}

#submitReg:hover {
    background-color: #3EB489;
    color: black;
    
}

#haveAcct {
    text-decoration: none;
    color: black;
    transition-duration: 0.4s;

}

#haveAcct:hover {
    color: #3EB489;
}